body {
    padding: 0;
    margin: 0;
    background-color: #ccc;
    font-family: "GT America Mono", monospace;
    font-size: 14px;
    font-weight: 400;
}


.mdc-layout-grid {
    background-color: #ccc;
}

.mdc-layout-grid__inner {
    margin: 0 auto;
    width: 90%;
}

.mdc-card {
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.mdc-card__media {
    overflow: visible;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #f0f0f0;
    height: 250px;
}

.mdc-card__content p {

}

.mdc-typography--headline6 {
    padding: 0 16px 0 16px;  /* Top, Right, Bottom, Left */
    color: #424242;
}

.mdc-typography--body2 {
    font-size: 14px;
    font-weight: 400;
    color: #616161;
    padding: 0 16px 0 16px;  /* Top, Right, Bottom, Left */
}




