body {
    padding: 0;
    margin: 0;
    background-color: #222;
    font-family: "GT America Mono", monospace;
    font-size: 14px;
    font-weight: 400;
    color: #ca993b
}

.trade-container {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 5px;
}


.trade-table {
    width: 100%;
    border-collapse: collapse;
}

.trade-table th,
.trade-table td {
    padding: 10px;
    border: 1px solid #222222;
    text-align: right;
}

.trade-table th {
    background-color: #222222;
}

.trade-table tr:nth-child(even) {
    background-color: #434343;
}

.trade-table th,
.trade-table td {
    flex: 1;
}

.base {
    z-index: 2000;
}

#base > label {
    font-size: 16px;
    padding: 20px;
}

#symbol {
    font-family: "GT America Mono", monospace;
    font-size: 20px;
    padding: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    /*transform: translateY(-50%);*/
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1000;
}

.overlay-content {
    display: flex;
    padding: 20px;
    white-space: nowrap;
}

.overlay p {
    margin: 10px 0;
    padding: 5px;
}